
<div class="col-6" style="margin-top: 80px;">
	
	<div class="row">
		<div class="col-12" >
			<h5>{{title}}</h5>
		</div>
	</div>
	<form method="post">
		  <div class="mt-3 ">
	       <select class="select-search custom-select" id="id" name="id" required>
	       		<option></option>
		       		 {{optionItens}}
	 	  	</select>
			 
    	</div>
		<div class="form-group mt-3">
			<button class="btn btn-success btn-sm btn-round botao borda" type="submit" rel="tooltip" title="Gerar Folha">
				<i class="fa-solid fa-circle-check"></i>
		     </button>
		</div>
	
	</form>
	</div>

	
<!-- Div onde aparecem as mensagens -->
    <div id="toastBox"></div>
    
    



