      <div class="container"> 
        <div class="row">
        	
        	
            <div class="col-md-12" style="height:200px; border: solid 1px black;">           
                 				
				<a href="{{URL}}/ponto/todos" class="badge badge-primary">Todos</a></br>
				<a href="{{URL}}/ponto/porServidor" class="badge badge-primary">Por Servidor</a></br>
				<a href="{{URL}}/ponto/porLotacao" class="badge badge-primary">Por Lotação</a></br>
				<a href="{{URL}}/ponto/porLocalTrabalho" class="badge badge-primary">Por Local de Trabalho</a></br>
				<a href="{{URL}}/ponto/porVinculo" class="badge badge-primary">Por Vínculo</a></br>
				<a href="{{URL}}/ponto/porCargoFuncao" class="badge badge-primary">Por Cargo / Função</a>
				
            </div>

           
        </div>
       </div>