<div class="row ">
	
	<div class="col-10" style="margin-top: 80px;">
		<div class="row">
			<div class="col-6 h5">
				{{title}}
			</div>
			<div class="col-6 text-right">
			
				<a href="{{URL}}/lotacao">
					<button type="button" class="btn btn-warning btn-round btn-sm " rel="tooltip" title="Voltar">
						<i class="material-icons" style="font-size: 20px;">reply</i>
					</button>
				</a>
			
			</div>
		</div>			
		
				<hr>
				
				
				<form method="post">
					<div class="form-group h5">
					Você deseja realmente excluir a Lotação <b>{{nome}}</b> ?
					</div>
				
					
					<div class="form-group mt-3">
						<button type="submit" class="btn btn-danger">Excluir</button>
					</div>
				
				</form>
	</div>





