
	
	<div class="col-12" style="margin-top: 80px;">
        <h4 class="card-title"></h4>
        <div class="row">
            <div class="col-11 card-title">
                <h5>{{title}}</h5>
            </div>
            
            <div class="col-1 text-right">
                <a href="{{URL}}/lotacao/new">
                        <button type="button" class="btn btn-success btn-round btn-sm " rel="tooltip" title="Novo">
                            <span class="material-icons" style="font-size: 20px">add</span>	
                        </button>
                        
                </a>
                    
            </div>
        </div>
            <hr>
            <table id="datatablesSimple" class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {{itens}}
                </tbody>
            </table>
            <!--{{pagination}}-->
        
        
        </div>
        
        <!-- Div onde aparecem as mensagens -->
            <div id="toastBox"></div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        