<div class="container-fluid">
<div class="d-flex justify-content-center">
	
				<div class="card mt-5 text-dark " style="width: 300px;">
					<div class="card-header text-center">
						<span>Sistema de Folha de Ponto</span>
					</div>
					<div class="card-body">
						<form method="post">
							<h5 class="text-center">Login</h5>
							<div class="form-group my-2">
								<label>E-mail</label>
								<input type="email" class="form-control" name="email" placehold="email@teste.com" required autofocus>
							</div>
							<div class="form-group my-2">
								<label>Senha</label>
								<input type="password" class="form-control" name="senha" placehold="************" required>
							</div>
							<div class="form-group my-1 text-center">
								<button type="submit" class="btn btn-sm btn-primary">Entrar</button>
							</div>
						</form>
					</div>
				</div>
	
</div>
</div>
<!-- Div onde aparecem as mensagens -->
<div id="toastBox"></div>