<tr>
    <td>{{id}}</td>
    <td>{{nome}}</td>
    <td>{{matricula}}</td>
    <td>{{vinculo}}</td>
    <td>{{cargoFuncao}}</td>
    <td>{{lotacao}}</td>
    <td>{{localTrabalho}}</td>
    <td>{{email}}</td>
    <td>{{telefone}}</td>
    <td>{{dataNasc}}</td>
    <td>{{dataCad}}</td>
    <td>{{cpf}}</td>
    <td>
        <a href="{{URL}}/servidores/{{id}}/edit">
             <i class="material-icons" style="font-size: 30px;" rel="tooltip" title="Editar">edit</i>
        </a>
        <a href="{{URL}}/servidores/{{id}}/delete">
             <i class="material-icons" style="font-size: 30px; color: red" rel="tooltip" title="Excluir">delete</i>
        </a>
    </td>
</tr>